AI-Powered Support Ticket Classifier.json
{
  "name": "AI-Powered Support Ticket Classifier",
  "nodes": [
    {
      "parameters": {
        "options": {
          "trackLastMessageId": true
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -448,
        -48
      ],
      "id": "",
      "name": "Email Trigger (IMAP)",
      "retryOnFail": false,
      "credentials": {
        "imap": {
          "id": "",
          "name": "IMAP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Billing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": ""
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Billing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Tech",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tech"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Spam"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        320,
        -96
      ],
      "id": "",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "billing"
        },
        "text": "=🔔 *New Billing Ticket — Action Required*\n\n👤 *Customer Name:* {{ $('Parse Classification & Sender').item.json.sender_name }}\n📧 *Email Address:* {{ $('Parse Classification & Sender').item.json.sender_email }}\n📝 *Subject:* {{ $('Parse Classification & Sender').item.json.original_subject }}\n\n💬 *Customer Message:* \n\"{{ $('Parse Classification & Sender').item.json.original_body }}\"\n\n🤖 *AI Suggested Reply:*\n\"{{ $('Parse Classification & Sender').item.json.suggested_reply }}\"\n\n✅ *Status:* AI Reply draft has been safely saved in Gmail. Please review and send.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        672,
        -336
      ],
      "id": "",
      "name": "Notify Billing Team ",
      "webhookId": "",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "slackOAuth2Api": {
          "id": "",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "tech"
        },
        "text": "=🚨 *New Technical Issue — Dev Team Alert*\n\n👤 *Name:* {{ $('Parse Classification & Sender').item.json.sender_name }}\n📧 *Email:* {{ $('Parse Classification & Sender').item.json.sender_email }}\n📝 *Subject:* {{ $('Parse Classification & Sender').item.json.original_subject }}\n\n💬 *Issue Details:* \n\"{{ $('Parse Classification & Sender').item.json.original_body }}\"\n\n🔧 *Priority/Urgency:* {{ $('Parse Classification & Sender').item.json.urgency }}/5\n\n✅ *Action:* Tech Lead is issue ko review karein aur debug karein.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        672,
        -176
      ],
      "id": "",
      "name": "Notify Tech Team",
      "webhookId": "",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "slackOAuth2Api": {
          "id": "",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "sales"
        },
        "text": "=🔔 *New Technical Ticket — Action Required*\n\n👤 *Customer Name:* {{ $('Parse Classification & Sender').item.json.sender_name }}\n📧 *Email Address:* {{ $('Parse Classification & Sender').item.json.sender_email }}\n📝 *Subject:* {{ $('Parse Classification & Sender').item.json.original_subject }}\n\n💬 *Customer Message:* \n\"{{ $('Parse Classification & Sender').item.json.original_body }}\"\n\n🤖 *AI Suggested Reply:*\n\"{{ $('Parse Classification & Sender').item.json.suggested_reply }}\"\n\n✅ *Status:* AI Reply draft has been safely saved in Gmail. Please review and send.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        672,
        0
      ],
      "id": "",
      "name": "Notify Sales Team",
      "webhookId": "",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "slackOAuth2Api": {
          "id": "",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "fallback-output"
        },
        "text": "=⚠️ *Unclassified Ticket — Manual Review Required*\n\n👤 *Customer Name:* {{ $('Parse Classification & Sender').item.json.sender_name }}\n📧 *Email Address:* {{ $('Parse Classification & Sender').item.json.sender_email }}\n📝 *Subject:* {{ $('Parse Classification & Sender').item.json.original_subject }}\n\n💬 *Customer Message:* \n\"{{ $('Parse Classification & Sender').item.json.original_body }}\"\n\n✅ *Action:* Routed to human support desk due to low confidence classification.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        672,
        176
      ],
      "id": "",
      "name": "Notify Manual Team",
      "webhookId": "",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "slackOAuth2Api": {
          "id": "",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n{\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an elite email classification and response engine for FlowSync AI — a B2B SaaS platform that provides automated workflow integrations and custom AI agents for small businesses.\\n\\nAnalyze the incoming email and return ONLY a valid JSON object. Do not include any markdown formatting, code blocks, or conversational text. The JSON must contain exactly three keys:\\n1. 'category': Must be exactly one of these: 'Billing', 'Tech', 'Sales', or 'Spam'.\\n   - Use 'Billing', 'Tech', or 'Sales' only for genuine customer inquiries that require a human reply.\\n   - Use 'Spam' strictly for unwanted, promotional, or malicious emails, AND all automated platform alerts, notifications, newsletters, or non-actionable company updates (e.g. Google backups, hosting alerts, Stripe invoice receipts) that do not require a human reply.\\n2. 'urgency': A number from 1 (lowest) to 5 (highest). Spam must always have an urgency of 1.\\n3. 'suggested_reply': A professional, polite, and contextual email response to the customer addressing their issue. Keep it under 150 words.\\n\\nCRITICAL COST OPTIMIZATION RULE: If the category is 'Spam', set the 'suggested_reply' to an empty string \\\"\\\" or \\\"N/A\\\". Do not generate draft replies for spam.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Email Details:\\n\" + JSON.stringify(\"Subject: \" + ($json.subject || \"No Subject\") + \"\\n\\nBody: \" + ($('Sanitize Email Body').item.json.original_body || \"Empty Body\"))\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0\n}\n}}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        -48
      ],
      "id": "",
      "name": "Classify Ticket via Groq",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "groqApi": {
          "id": "",
          "name": "Groq account"
        }
      },
      "onError": ""
    },
    {
      "parameters": {
        "jsCode": "let parsedData = {};\ntry {\n  // 1. Retrieve the incoming JSON content from the Groq node\n  const item = typeof typeofInput !== 'undefined' ? input() : items[0];\n  const rawContent = item.json.choices[0].message.content;\n  parsedData = JSON.parse(rawContent);\n} catch (error) {\n  parsedData = {\n    category: \"manual_review\",\n    urgency: 3,\n    suggested_reply: \"Dear Customer,\\n\\nWe have received your request and our team is reviewing it.\\n\\nBest regards,\\nSupport Team\",\n    parsing_error: true\n  };\n}\n\n// 2. Determine the clean category\nconst finalCategory = parsedData.category || \"manual_review\";\n\n// 3. FORCE-CLEAR suggested_reply for non-actionable categories (Spam/Notification)\nconst finalReply = (finalCategory === \"Spam\" || finalCategory === \"Notification\")\n  ? \"N/A — No reply generated for spam/notifications.\"\n  : (parsedData.suggested_reply || \"Thank you for reaching out. We are looking into your issue.\");\n\n// 4. Retrieve and sanitize the sender details safely from the IMAP trigger\nlet rawSender = \"unknown@domain.com\";\nconst imapNode = $node[\"Email Trigger (IMAP)\"]?.json;\n\nif (imapNode) {\n  if (imapNode.from?.value?.[0]?.address) {\n    const fromData = imapNode.from.value[0];\n    rawSender = fromData.name ? `${fromData.name} <${fromData.address}>` : fromData.address;\n  } else if (imapNode.from?.address) {\n    rawSender = imapNode.from.address;\n  } else if (typeof imapNode.from === 'string') {\n    rawSender = imapNode.from;\n  }\n}\n\nlet cleanEmail = \"unknown@domain.com\";\nlet cleanName = \"Unknown\";\n\nconst angleBracketMatch = rawSender.match(/(.*?)\\s*<([^>]+)>/);\n\nif (angleBracketMatch) {\n  cleanName = angleBracketMatch[1].replace(/[\"']/g, \"\").trim() || \"Unknown\";\n  cleanEmail = angleBracketMatch[2].trim().toLowerCase();\n} else {\n  const emailRegex = /([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9._-]+)/gi;\n  const match = rawSender.match(emailRegex);\n  if (match) {\n    cleanEmail = match[0].trim().toLowerCase();\n  }\n}\n\n// 5. Return sanitized, structured, and validated data payload\nreturn {\n  json: {\n    category: finalCategory,\n    urgency: parsedData.urgency || 3,\n    suggested_reply: finalReply,\n    original_subject: $node[\"Email Trigger (IMAP)\"].json.subject || \"No Subject\",\n    original_body: $node[\"Sanitize Email Body\"].json.original_body || \"Empty Body\",\n    sender_name: cleanName,\n    sender_email: cleanEmail\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -48
      ],
      "id": "",
      "name": "Parse Classification & Sender",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0];\n\n// Extract the raw text body from the IMAP trigger (fallback to HTML if text is empty)\nconst rawBody = item.json.textPlain || item.json.textHtml || \"\";\n\n// Normalize whitespace and enforce a strict 500-character limit to optimize token usage\nconst cleanBody = rawBody.replace(/\\s+/g, ' ').trim();\nconst truncatedBody = cleanBody.length > 500 ? cleanBody.substring(0, 500) + \"...\" : cleanBody;\n\n// Return all payload fields with the optimized body mapped to original_body for subsequent nodes\nreturn {\n  json: {\n    ...item.json,\n    original_body: truncatedBody\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -48
      ],
      "id": "",
      "name": "Sanitize Email Body"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Support_Tickets",
          "cachedResultUrl": ""
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Support_Tickets",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Urgency": "={{ $('Parse Classification & Sender').item.json.urgency }}",
            "Subject": "={{ $('Parse Classification & Sender').item.json.original_subject }}",
            "Body": "={{ $('Parse Classification & Sender').item.json.original_body }}",
            "Category": "={{ $('Parse Classification & Sender').item.json.category }}",
            "Sender": "={{ $('Parse Classification & Sender').item.json.sender_email }}",
            "Name": "={{ $('Parse Classification & Sender').item.json.sender_name }}",
            "Draft": "={{ $('Parse Classification & Sender').item.json.suggested_reply }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sender",
              "displayName": "Sender",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Billing",
                  "value": "Billing"
                },
                {
                  "name": "Tech",
                  "value": "Tech"
                },
                {
                  "name": "Sales",
                  "value": "Sales"
                },
                {
                  "name": "Spam",
                  "value": "Spam"
                },
                {
                  "name": "manual_review",
                  "value": "manual_review"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Draft",
              "displayName": "Draft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created Time",
              "displayName": "Created Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1184,
        -48
      ],
      "id": "",
      "name": "Save Ticket to Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{ $('Parse Classification & Sender').item.json.original_subject }}",
        "emailType": "html",
        "message": "=<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; line-height: 1.6; white-space: pre-line;\">\n{{ $('Parse Classification & Sender').item.json.suggested_reply }}\n</p>",
        "options": {
          "sendTo": "={{ $('Parse Classification & Sender').item.json.sender_email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        -48
      ],
      "id": "",
      "name": "Draft Customer Reply1",
      "webhookId": "",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "",
        "subject": "=🚨 Support Ticket Processed: {{ $('Parse Classification & Sender').item.json.original_subject }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; line-height: 1.6; max-width: 600px; border: 1px solid #ddd; padding: 20px; border-radius: 8px;\">\n  <h2 style=\"color: #1a73e8; margin-top: 0; border-bottom: 2px solid #1a73e8; padding-bottom: 8px;\">🤖 Ticket Processing Complete</h2>\n  \n  <p>A new support ticket has been successfully categorized, logged to Airtable, and drafted in Gmail.</p>\n  \n  <table style=\"width: 100%; border-collapse: collapse; margin: 15px 0;\">\n    <tr style=\"background-color: #f9f9f9;\">\n      <td style=\"padding: 8px; font-weight: bold; width: 120px;\">Sender Name:</td>\n      <td style=\"padding: 8px;\">{{ $('Parse Classification & Sender').item.json.sender_name }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; font-weight: bold;\">Sender Email:</td>\n      <td style=\"padding: 8px;\">{{ $('Parse Classification & Sender').item.json.sender_email }}</td>\n    </tr>\n    <tr style=\"background-color: #f9f9f9;\">\n      <td style=\"padding: 8px; font-weight: bold;\">Category:</td>\n      <td style=\"padding: 8px; text-transform: uppercase; color: #d93025; font-weight: bold;\">{{ $('Parse Classification & Sender').item.json.category }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; font-weight: bold;\">Urgency:</td>\n      <td style=\"padding: 8px;\">{{ $('Parse Classification & Sender').item.json.urgency }}/5</td>\n    </tr>\n  </table>\n\n  <div style=\"background-color: #f1f3f4; padding: 12px; border-radius: 4px; margin-top: 15px;\">\n    <strong style=\"display: block; margin-bottom: 5px;\">Original Message:</strong>\n    <span style=\"font-style: italic;\">\"{{ $('Parse Classification & Sender').item.json.original_body }}\"</span>\n  </div>\n\n  <div style=\"background-color: #e8f0fe; padding: 12px; border-radius: 4px; margin-top: 15px; border-left: 4px solid #1a73e8;\">\n    <strong style=\"display: block; margin-bottom: 5px; color: #1a73e8;\">AI Draft Created:</strong>\n    <span style=\"white-space: pre-line;\">{{ $('Parse Classification & Sender').item.json.suggested_reply }}</span>\n  </div>\n\n  <p style=\"font-size: 12px; color: #666; margin-top: 20px; border-top: 1px solid #ddd; padding-top: 10px;\">\n    This is an automated notification from your n8n AI Agent. No action required unless manual review is triggered.\n  </p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1200,
        -256
      ],
      "id": "",
      "name": "Notify Me — Ticket Processed",
      "webhookId": "",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "",
        "subject": "=⚠️ [Airtable Failed] Support Ticket Processed: {{ $('Parse Classification & Sender').item.json.original_subject }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; line-height: 1.6; max-width: 600px; border: 1px solid #d93025; padding: 20px; border-radius: 8px;\">\n  <h2 style=\"color: #d93025; margin-top: 0; border-bottom: 2px solid #d93025; padding-bottom: 8px;\">⚠️ Airtable Down - Google Sheets Backup Used</h2>\n  \n  <p><strong>Notice:</strong> Airtable was unreachable. The ticket has been safely logged into the <strong>Google Sheets Backup</strong>, and a draft has been created in Gmail.</p>\n  \n  <table style=\"width: 100%; border-collapse: collapse; margin: 15px 0;\">\n    <tr style=\"background-color: #f9f9f9;\">\n      <td style=\"padding: 8px; font-weight: bold; width: 120px;\">Sender Name:</td>\n      <td style=\"padding: 8px;\">{{ $('Parse Classification & Sender').item.json.sender_name }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; font-weight: bold;\">Sender Email:</td>\n      <td style=\"padding: 8px;\">{{ $('Parse Classification & Sender').item.json.sender_email }}</td>\n    </tr>\n    <tr style=\"background-color: #f9f9f9;\">\n      <td style=\"padding: 8px; font-weight: bold;\">Category:</td>\n      <td style=\"padding: 8px; text-transform: uppercase; color: #d93025; font-weight: bold;\">{{ $('Parse Classification & Sender').item.json.category }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; font-weight: bold;\">Urgency:</td>\n      <td style=\"padding: 8px;\">{{ $('Parse Classification & Sender').item.json.urgency }}/5</td>\n    </tr>\n  </table>\n\n  <div style=\"background-color: #f1f3f4; padding: 12px; border-radius: 4px; margin-top: 15px;\">\n    <strong style=\"display: block; margin-bottom: 5px;\">Original Message:</strong>\n    <span style=\"font-style: italic;\">\"{{ $('Parse Classification & Sender').item.json.original_body }}\"</span>\n  </div>\n\n  <div style=\"background-color: #e8f0fe; padding: 12px; border-radius: 4px; margin-top: 15px; border-left: 4px solid #1a73e8;\">\n    <strong style=\"display: block; margin-bottom: 5px; color: #1a73e8;\">AI Draft Created:</strong>\n    <span style=\"white-space: pre-line;\">{{ $('Parse Classification & Sender').item.json.suggested_reply }}</span>\n  </div>\n\n  <p style=\"font-size: 11px; color: #666; margin-top: 20px; border-top: 1px solid #ddd; padding-top: 10px;\">\n    SYSTEM NOTICE: Airtable API error occurred. Database admin attention may be required.\n  </p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        240
      ],
      "id": "",
      "name": "Notify Me — Airtable Failed",
      "webhookId": "",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Backup",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Backup",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name ": "={{ $('Parse Classification & Sender').item.json.sender_name }}",
            "Draft": "={{ $('Parse Classification & Sender').item.json.suggested_reply }}",
            "Sender": "={{ $('Parse Classification & Sender').item.json.sender_email }}",
            "Subject": "={{ $('Parse Classification & Sender').item.json.original_subject }}",
            "Category ": "={{ $('Parse Classification & Sender').item.json.category }}",
            "Urgency": "={{ $('Parse Classification & Sender').item.json.urgency }}",
            "Body": "={{ $('Parse Classification & Sender').item.json.original_body }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender",
              "displayName": "Sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category ",
              "displayName": "Category ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Draft",
              "displayName": "Draft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created Time",
              "displayName": "Created Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        -32
      ],
      "id": "",
      "name": "Save Ticket to Backup Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Sanitize Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Notify Billing Team ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Tech Team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Sales Team",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Notify Manual Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Tech Team": {
      "main": [
        [
          {
            "node": "Draft Customer Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Billing Team ": {
      "main": [
        [
          {
            "node": "Draft Customer Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Sales Team": {
      "main": [
        [
          {
            "node": "Draft Customer Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Manual Team": {
      "main": [
        [
          {
            "node": "Save Ticket to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Ticket via Groq": {
      "main": [
        [
          {
            "node": "Parse Classification & Sender",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Parse Classification & Sender": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Sanitize Email Body": {
      "main": [
        [
          {
            "node": "Classify Ticket via Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Ticket to Airtable": {
      "main": [
        [
          {
            "node": "Notify Me — Ticket Processed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Ticket to Backup Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Customer Reply1": {
      "main": [
        [
          {
            "node": "Save Ticket to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Ticket to Backup Sheet": {
      "main": [
        [
          {
            "node": "Notify Me — Airtable Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}